<a href="https://colab.research.google.com/github/akshaymore08/machine-learning/blob/main/dummy%20variables%20and%20one%20hot%20encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
dummies = pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/ML/5_one_hot_encoding/homeprices.csv')
dummies

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [4]:
merged =pd.concat([df,dummies],axis='columns')
merged

               town  area   price             town  area   price
0   monroe township  2600  550000  monroe township  2600  550000
1   monroe township  3000  565000  monroe township  3000  565000
2   monroe township  3200  610000  monroe township  3200  610000
3   monroe township  3600  680000  monroe township  3600  680000
4   monroe township  4000  725000  monroe township  4000  725000
5      west windsor  2600  585000     west windsor  2600  585000
6      west windsor  2800  615000     west windsor  2800  615000
7      west windsor  3300  650000     west windsor  3300  650000
8      west windsor  3600  710000     west windsor  3600  710000
9       robinsville  2600  575000      robinsville  2600  575000
10      robinsville  2900  600000      robinsville  2900  600000
11      robinsville  3100  620000      robinsville  3100  620000
12      robinsville  3600  695000      robinsville  3600  695000